{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Mon, 19 Jul 2021 18:05:44 GMT",
      "etag" : "0x8D94ADFD40B87F7",
      "location" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-Job-canCRUD?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Mon, 19 Jul 2021 18:05:44 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D94ADFD40B87F7",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-canCRUD\",\"url\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-Job-canCRUD\",\"eTag\":\"0x8D94ADFD40B87F7\",\"lastModified\":\"2021-07-19T18:05:44.5323767Z\",\"creationTime\":\"2021-07-19T18:05:44.5024206Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-07-19T18:05:44.5323767Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2021-07-19T18:05:44.5323767Z\",\"poolId\":\"BatchUser-testpool\"\r\n  },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/$metadata#jobs\",\"value\":[\r\n    {\r\n      \"id\":\"BatchUser-Job-canCRUD\",\"url\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-Job-canCRUD\",\"eTag\":\"0x8D94ADFD40B87F7\",\"lastModified\":\"2021-07-19T18:05:44.5323767Z\",\"creationTime\":\"2021-07-19T18:05:44.5024206Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-07-19T18:05:44.5323767Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"constraints\":{\r\n        \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n      },\"poolInfo\":{\r\n        \"poolId\":\"BatchUser-testpool\"\r\n      },\"executionInfo\":{\r\n        \"startTime\":\"2021-07-19T18:05:44.5323767Z\",\"poolId\":\"BatchUser-testpool\"\r\n      },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n    },{\r\n      \"id\":\"BatchUser-Job-canReadFromNode\",\"url\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode\",\"eTag\":\"0x8D94ADFCB8E8877\",\"lastModified\":\"2021-07-19T18:05:30.2914167Z\",\"creationTime\":\"2021-07-19T18:05:30.2604173Z\",\"state\":\"deleting\",\"stateTransitionTime\":\"2021-07-19T18:05:40.99041Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2021-07-19T18:05:30.2914167Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"constraints\":{\r\n        \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n      },\"poolInfo\":{\r\n        \"poolId\":\"BatchUser-testpool\"\r\n      },\"executionInfo\":{\r\n        \"startTime\":\"2021-07-19T18:05:30.2914167Z\",\"poolId\":\"BatchUser-testpool\"\r\n      },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n    },{\r\n      [...]
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-Job-canCRUD?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "409",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"JobBeingDeleted\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"The specified job has been marked for deletion and is being garbage collected.\\nRequestId:a1de7246-56c4-417b-9ca6-e0f6285c8911\\nTime:2021-07-19T18:05:45.9094382Z\"\r\n  }\r\n}"
    }
  } ],
  "variables" : [ ]
}