{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobschedules?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Mon, 19 Jul 2021 18:22:14 GMT",
      "etag" : "0x8D94AE22233F50A",
      "location" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "HEAD",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "last-modified" : "Mon, 19 Jul 2021 18:22:14 GMT",
      "etag" : "0x8D94AE22233F50A",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Mon, 19 Jul 2021 18:22:14 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D94AE22233F50A",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"BatchUser-JobSchedule-canCRUD\",\"url\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD\",\"eTag\":\"0x8D94AE22233F50A\",\"lastModified\":\"2021-07-19T18:22:14.653057Z\",\"creationTime\":\"2021-07-19T18:22:14.653057Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-07-19T18:22:14.653057Z\",\"schedule\":{\r\n    \"doNotRunUntil\":\"2021-07-19T18:22:13.78Z\",\"doNotRunAfter\":\"2021-07-19T23:22:13.78Z\",\"startWindow\":\"P5D\"\r\n  },\"jobSpecification\":{\r\n    \"priority\":100,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n    },\"poolInfo\":{\r\n      \"poolId\":\"BatchUser-testpool\"\r\n    }\r\n  },\"executionInfo\":{\r\n    \"recentJob\":{\r\n      \"url\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-JobSchedule-canCRUD:job-1\",\"id\":\"BatchUser-JobSchedule-canCRUD:job-1\"\r\n    }\r\n  }\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobschedules?api-version=2021-06-01.14.0&%24filter=id%20eq%20%27BatchUser-JobSchedule-canCRUD%27",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/$metadata#jobschedules\",\"value\":[\r\n    {\r\n      \"id\":\"BatchUser-JobSchedule-canCRUD\",\"url\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD\",\"eTag\":\"0x8D94AE22233F50A\",\"lastModified\":\"2021-07-19T18:22:14.653057Z\",\"creationTime\":\"2021-07-19T18:22:14.653057Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-07-19T18:22:14.653057Z\",\"schedule\":{\r\n        \"doNotRunUntil\":\"2021-07-19T18:22:13.78Z\",\"doNotRunAfter\":\"2021-07-19T23:22:13.78Z\",\"startWindow\":\"P5D\"\r\n      },\"jobSpecification\":{\r\n        \"priority\":100,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n          \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n        },\"poolInfo\":{\r\n          \"poolId\":\"BatchUser-testpool\"\r\n        }\r\n      },\"executionInfo\":{\r\n        \"recentJob\":{\r\n          \"url\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-JobSchedule-canCRUD:job-1\",\"id\":\"BatchUser-JobSchedule-canCRUD:job-1\"\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Mon, 19 Jul 2021 18:22:14 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D94AE222514860",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"BatchUser-JobSchedule-canCRUD\",\"url\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD\",\"eTag\":\"0x8D94AE222514860\",\"lastModified\":\"2021-07-19T18:22:14.8452448Z\",\"creationTime\":\"2021-07-19T18:22:14.653057Z\",\"state\":\"deleting\",\"stateTransitionTime\":\"2021-07-19T18:22:14.9151642Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2021-07-19T18:22:14.653057Z\",\"schedule\":{\r\n    \"doNotRunUntil\":\"2021-07-19T18:22:13.78Z\",\"doNotRunAfter\":\"2021-07-19T23:22:13.78Z\",\"startWindow\":\"P5D\"\r\n  },\"jobSpecification\":{\r\n    \"priority\":100,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n    },\"poolInfo\":{\r\n      \"poolId\":\"BatchUser-testpool\"\r\n    }\r\n  },\"executionInfo\":{\r\n    \"recentJob\":{\r\n      \"url\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-JobSchedule-canCRUD:job-1\",\"id\":\"BatchUser-JobSchedule-canCRUD:job-1\"\r\n    }\r\n  },\"metadata\":[\r\n    {\r\n      \"name\":\"key1\",\"value\":\"value1\"\r\n    }\r\n  ]\r\n}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "409",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"JobScheduleBeingDeleted\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"The specified job schedule has been marked for deletion and is being reclaimed.\\nRequestId:b5a90a81-7a7a-41a8-bd1a-0140ade3b23b\\nTime:2021-07-19T18:22:15.9816972Z\"\r\n  }\r\n}"
    }
  } ],
  "variables" : [ ]
}