{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Mon, 19 Jul 2021 18:23:07 GMT",
      "etag" : "0x8D94AE241BED323",
      "location" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-failCreateContainerRegPool/tasks?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-failCreateContainerRegPool/tasks/mytask",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Mon, 19 Jul 2021 18:23:07 GMT",
      "etag" : "0x8D94AE241D0BE67",
      "location" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-failCreateContainerRegPool/tasks/mytask",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-failCreateContainerRegPool?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "202",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}